<div>
    <h1 mat-dialog-title>Edytujesz mnie Martusiu? Dlaczego?</h1>
    <div>
        <form #cardForm="ngForm">
            <div ngModelGroup="card">
                <mat-form-field>
                    <p><input matInput type="text" required name="title" [(ngModel)]="data.card.title"></p>
                    <mat-placeholder>Tytuł</mat-placeholder>
                    <mat-error>Tytuł musi być Martusio</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <p><input matInput type="text" required name="description" [(ngModel)]="data.card.description"></p>
                    <mat-placeholder>Opis</mat-placeholder>
                    <mat-error>Opis musi być Martusio</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput name="longDescription" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" [(ngModel)]="data.card.longDescription"></textarea>
                    <mat-placeholder>Długi opis</mat-placeholder>
                </mat-form-field>

                <mat-form-field>
                    <mat-label *ngIf="data.card.category.nameCategory">{{data.card.category.nameCategory}}</mat-label>
                    <mat-label *ngIf="!data.card.category.nameCategory">Nie wybrana kategoria, nie wybrana wcale</mat-label>
                    <mat-select name="category" [(ngModel)]="data.card.category" ngModel>
                        <mat-option value="none">Brak kategorii aaa</mat-option>
                        <mat-option *ngFor="let category of categoryTable" [style.backgroundColor]="category.color" [style.color]="category.textColor" [value]="category">{{category.nameCategory}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <img *ngIf="!data.video" mat-card-image src="{{data?.card.url}}" alt="{{data?.card.title}}">
                <div *ngIf="data.video" class="video">
                    <video mat-card-image controls #videoPlayer>
                    <source src="{{data?.card.url}}" type="video/mp4" />
                    Browser not supported
                </video>
                </div>
                <p><input type="file" (change)="showPreview($event)" name="file" ngModel></p>
            </div>
        </form>
    </div>
    <div class="btn" mat-dialog-actions>
        <button mat-flat-button color="accent" [mat-dialog-close]="undefined">Anuluj!</button>
        <button mat-flat-button color="accent" [mat-dialog-close]="cardForm" [disabled]="cardForm.invalid" cdkFocusInitial>Save</button>
    </div>
</div>
